<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= event.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= event.end_at %>
  </p>

  <p>
    <strong>All day:</strong>
    <%= event.all_day %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= event.source %>
  </p>

  <p>
    <strong>External url:</strong>
    <%= event.external_url %>
  </p>

  <p>
    <strong>Location override:</strong>
    <%= event.location_override %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= event.category_id %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue_id %>
  </p>

</div>
