<p style="color: green"><%= notice %></p>

<%= render @admin_event %>

<div>
  <%= link_to "Edit this event", edit_admin_event_path(@admin_event) %> |
  <%= link_to "Back to events", admin_events_path %>

  <%= button_to "Destroy this event", @admin_event, method: :delete %>
</div>
