<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= venue.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= venue.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= venue.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= venue.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= venue.postal_code %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= venue.notes %>
  </p>

  <p>
    <strong>Map url:</strong>
    <%= venue.map_url %>
  </p>

</div>
