<p style="color: green"><%= notice %></p>

<%= render @admin_venue %>

<div>
  <%= link_to "Edit this venue", edit_admin_venue_path(@admin_venue) %> |
  <%= link_to "Back to venues", admin_venues_path %>

  <%= button_to "Destroy this venue", @admin_venue, method: :delete %>
</div>
